:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-in-container {
    width: 600px;
    height: 480px;

    .sign-in-form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
